<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Reset Password</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div
      id="success-container"
      class="hidden h-screen bg-neutral-300 grow flex flex-col justify-center self-center items-center space-y-5"
    >
      <h1 class="text-6xl text-center font-medium light-purple">
        Password reset successful!
      </h1>
      <h2 class="font-medium m-3 mt-10">
        Your password has been successfully updated!
      </h2>
      <span id="checkmark-success"> </span>
    </div>

    <div
      id="error-container"
      class="hidden h-screen bg-neutral-300 grow flex flex-col justify-center self-center items-center space-y-5"
    >
      <h1 class="text-6xl text-center font-medium light-purple">
        Password reset failure!
      </h1>
      <h2 id="response-err-msg" class="font-bold text-xl">ERROR</h2>
      <span id="checkmark-failure"> </span>
    </div>

    <div
      id="main-container"
      class="h-screen bg-neutral-300 grow flex flex-col justify-center self-center items-center space-y-5"
    >
      <h1 class="text-6xl text-center font-medium light-purple">
        Reset Password Error
      </h1>
      <div class="flex flex-col w-72 space-y-8">
        <div class="flex justify-center">
          <p id="err-msg" class="absolute text-red-500 font-semibold"></p>
        </div>
        <input
          name="password"
          id="new-password"
          type="password"
          placeholder="New password"
          class="rounded-xl bg-slate-800 text-neutral-300 p-3 grow"
        />
        <input
          id="confirm-password"
          type="password"
          placeholder="Confirm new password"
          class="rounded-xl bg-slate-800 text-neutral-300 p-3 grow"
        />
        <button
          onclick="validatePassword()"
          class="hover:contrast-125 drop-shadow-xl btn-gradient text-neutral-300 font-semibold rounded-xl p-4 m-5"
        >
          Reset Password
        </button>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
      #checkmark-success {
        display: inline-block;
        width: 6rem;
        height: 6rem;
        background: #7bb636;
        border-radius: 50%;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
      }

      #checkmark-success:before {
        content: "";
        position: absolute;
        width: 1rem;
        height: 2rem;
        background-color: #fff;
        left: 3rem;
        top: 1.2rem;
      }

      #checkmark-success:after {
        content: "";
        position: absolute;
        width: 2rem;
        height: 1rem;
        background-color: #fff;
        left: 2rem;
        top: 3rem;
      }
      #checkmark-failure {
        display: inline-block;
        width: 6rem;
        height: 6rem;
        background: #eb3941;
        border-radius: 50%;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
      }

      #checkmark-failure:before {
        content: "";
        position: absolute;
        width: 1rem;
        height: 4rem;
        background-color: #fff;
        left: 2.5rem;
        top: 1rem;
      }

      #checkmark-failure:after {
        content: "";
        position: absolute;
        width: 4rem;
        height: 1rem;
        background-color: #fff;
        left: 1rem;
        top: 2.5rem;
      }

      .light-purple {
        color: #7b7d9e;
      }
      .btn-gradient {
        background: linear-gradient(to right, #516088 20%, #3d4763 90%);
      }
    </style>
    <script>
      const validatePassword = () => {
        let newPassword = $("#new-password").val();
        let confirmationPassword = $("#confirm-password").val();
        if (newPassword == confirmationPassword) {
          if (
            /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$/.test(
              newPassword
            )
          ) {
            resetPassword();
          } else {
            $("#err-msg").text(
              "Password must be at least 8 characters long contain a number and an uppercase letter."
            );
          }
        } else {
          $("#err-msg").text("Passwords do not match");
        }
      };
      const resetPassword = () => {
        let newPassword = $("#new-password").val();
        $.ajax({
          type: "POST",
          data: JSON.stringify({password: newPassword}),
          contentType: "application/json; charset=utf-8",
          success: (d) => {
            $("#main-container").css({ display: "none" });
            $("#error-container").css({ display: "none" });
            $("#success-container").css({ display: "flex" });
          },
          error: (xhr, status, err) => {
            let resData = JSON.parse(xhr.responseText);
            $("#response-err-msg").text(resData.msg);
            $("#main-container").css({ display: "none" });
            $("#success-container").css({ display: "none" });
            $("#error-container").css({ display: "flex" });
          },
        });
      };
    </script>
  </body>
</html>
